<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">title</h1>
    <h2>Title</h2>


<label for="fname">First Name:</label><input type="text" name="fname" id="fname">
<label for="lname">Last Name:</label><input type="text" name="lname" id="lname">
<button type="submit" onclick='myFunction();'>Enter</button>
<script
          src="https://code.jquery.com/jquery-3.6.4.min.js"
          integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
          crossorigin="anonymous"></script>
<script>
    
    function myFunction() {
    const firstname = document.getElementById('fname').value;
    const lastname = document.getElementById('lname').value;

    const dict_values = {firstname, lastname}
    const s = JSON.stringify(dict_values);
    console.log(s)
    window.alert(s)
    $.ajax({
        url:"/test",
        type:"POST",
        contentType: "application/json",
        data: JSON.stringify(s)});
}
  
</script>
</body>
</html>